body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}
.map {
  height: var(--height-map);
  width: 100%;
  margin: auto;
}

.main {
  width: 100%;
  border: 1px solid #ccc;
}
.main-gis {
  display: flex;
  justify-content: space-between;
}

.map {
  flex: 3;
}

td {
  font-size: 0.9rem;
}

form > input {
  margin-top: 10px;
}

.main__gis--left {
  border-right: 1px solid #ccc;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 2%;
  padding-left: 6px;
}

header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 10px 0;
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0 10px;
}

.checkbox_form {
  font-size: 0.9rem;
}

.main__gis--right {
  border: 1px solid #ccc;
  display: flex;
  background-color: white;
}
.main__gis--right::before {
  content: "Chú thích";
  position: absolute;
  top: -26px;
  border: 2px solid #ccc;
  /* width: 100%; */
  width: var(--before-width);
  left: -1px;
  box-sizing: content-box;
  text-align: center;
  font-weight: 500;
  background-color: white;
  display: block;
}


.main__gis--right > .line {
  object-fit: cover;
}
.main__gis--right > .line3 {
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.main__gis--right > div {
  text-align: center;
}

.main__gis--right > div > h3 {
  border-bottom: 1px solid #ccc;
  font-weight: 400;
}

.line > h3 {
  padding: 0 26px;
}

.line {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

/* tao popup */

.ol-popup {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  bottom: 12px;
  height: 100px;
  position: relative;
    top: -128px;
    right: 44px;
}


.ol-popup::after,
.ol-popup::before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup::after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup-closer::after {
  content: "x";
  position: absolute!important;
  top: 0!important;
  right: 13px!important;
}

.ol-popup-closer::before {
  display: none;
}
.ol-popup-closer::after {
  content: "x";
}



.muiten {
  position: absolute;
}

.ol-popup {
  opacity: 1;
  transition: opacity .4s ease-in-out;
}

.hide {
  opacity: 0;
}